body{

  background-image: url('../img/bg.jpg');

  background-attachment: fixed;

  background-repeat: no-repeat;

  background-position: center center;

  background-size: cover;

  background-color: #fff;
}
